@font-face {
    font-family: 'GoogleSans';
    src: url('/public/fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('/public/fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('/public/fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('/public/fonts/GoogleSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}